.posts {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
	gap: 16px;
	color: var(--red-color);
	padding: 20px 0;


}


 @media (max-width: 880px) {
	.posts {
		justify-items: center;
	}
}

