
.header {
  background-color: var(--bg-secondary-color);
  color: var(--text-secondary-color);
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.menu{
  display: grid;
  grid-template-areas: "avatar login"
                        "edit registration";
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}