@import url("./style/colors.css");
body {

  margin: 0;
  font-family: "Arial",  sans-serif;
  box-sizing: border-box;
  color: var(--text-main-color);
  background-color: var(--bg-main-color);
}

code {
  font-family: 'Courier New',    monospace;
}

.root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
	max-width: 1024px;
	padding-left: 16px;
	padding-right: 16px;
	width: 95%;
	margin: 0 auto;

}

.content {
	padding: 60px 0;

}
.MuiContainer-root {
  flex: 1 0 auto;	

}

.ProseMirror p.is-editor-empty:first-child::before{
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.ProseMirror .is-editor-empty{
  height: 60px;
  padding: 10px;

}
.ProseMirror-focused {
  outline: 1px solid var(--text-secondary-color);
  border-radius: 10px;
}
.btn{
    color: var(--text-secondary-color);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 18px;
    background-color: inherit;
    border: 2px solid var(--text-secondary-color) !important;
    border-radius: 15px;
    margin-left: 20px;
}

.elem_active{
  background-color: var( --active-color) ;
  border-radius: 2px;
}
button{
  background-color: var(--bg-main-color-light);
}
button:hover{
  background-color: var(--bg-secondary-color);
}

.menu_button-text{
  height: 24px;
  width: auto;
  padding: 2px;
  border: 1px solid var(--text-main-color-ligth);
  border-radius: 2px;

}
.menu_button{
  border: 0;
  height: 24px;
  width: 24px;
  padding: 0;
  border-radius: 2px;
}